
    <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Andrew, Manaenko</mat-card-title>
      <mat-card-subtitle>Angular CLI SandBox</mat-card-subtitle>
    </mat-card-header>
    <!--<img mat-card-image src="assets/skype.jpg" alt="Photo of a Shiba Inu">-->
    <!--<mat-card-content>-->
      <!--<mat-list>-->
        <!--<mat-list-item>Software developer</mat-list-item>-->
      <!--<mat-list-item>-->
        <!--Technologies used were AngularJS, Angular 6, Java SpringBoot.-->
      <!--</mat-list-item>-->
      <!--<mat-list-item>-->
        <!--Set up work environments on Docker software.-->
      <!--</mat-list-item>-->
      <!--<mat-list-item>-->
        <!--Developed enterprise software products using SCRUM methodology.-->
      <!--</mat-list-item>-->
      <!--</mat-list>-->

      <!--<mat-form-field>-->
        <!--<mat-select placeholder="Tooltip position" >-->
          <!--<mat-option *ngFor="let icon of icons" [value]="icon">-->
            <!--<app-material-icon  [image]="icon"></app-material-icon>-->
          <!--</mat-option>-->
        <!--</mat-select>-->
      <!--</mat-form-field>-->

    <!--</mat-card-content>-->
    <!--<mat-card-actions>-->
      <!--<button mat-button>LIKE</button>-->
      <!--<button mat-button>SHARE</button>-->
      <!--<div class="interaction-send-message-buttons">-->
        <!--<button mat-icon-button class="aoc-send-chat chat-send-button send"></button>-->
        <!--<button mat-icon-button class="aoc-agents chat-send-button send"></button>-->
        <!--<button mat-icon-button class="aoc-customer chat-send-button send"></button>-->
        <!--<button mat-icon-button class="aoc-customer-journey chat-send-button send"></button>-->
        <!--<button mat-icon-button class="aoc-bullet-list chat-send-button send"></button>-->
        <!--<button mat-icon-button class="aoc-sms chat-send-button"></button>-->
        <!--<button mat-icon-button class="aoc-sentiment-very-happy chat-send-button send"></button>-->
        <!--<button mat-icon-button class="aoc-sentiment-happy chat-send-button send"></button>-->
        <!--<button mat-icon-button class="aoc-sentiment-neutral chat-send-button send"></button>-->
        <!--<button mat-icon-button class="aoc-sentiment-sad chat-send-button send"></button>-->
        <!--<button mat-icon-button class="aoc-sentiment-very-sad chat-send-button send"></button>-->
        <!--<button mat-icon-button class="aoc-dtmf chat-send-button send"></button>-->
        <!--<button mat-icon-button class="aoc-chevron-up chat-send-button send"></button>-->
        <!--<button mat-icon-button class="aoc-chevron-down chat-send-button send"></button>-->
        <!--<button mat-icon-button class="aoc-chevron-right chat-send-button send"></button>-->
        <!--<button mat-icon-button class="aoc-computer chat-send-button send"></button>-->

      <!--</div>-->
    <!--</mat-card-actions>-->


  </mat-card>

<!--<mat-dialog-container>-->
    <!--<mat-dialog-content style="background: #e91e63; height: 100px">-->
      <!--<div class="md-dialog-content">-->
        <!--<h2>'hahahahah'</h2>-->
      <!--<div  style="position: fixed">-->
        <!--<app-material-icon *ngFor="let icon of icons" [image]="icon"></app-material-icon>-->
      <!--</div>-->
      <!--</div>-->
    <!--</mat-dialog-content>-->
<!--</mat-dialog-container>-->
    <!--<mat-dialog-actions>-->
      <!--<button mat-raised-button (click)="console.log('')">Ok</button>-->
    <!--</mat-dialog-actions>-->
    <!--<div class="example-container" cdk-scrollable>-->
      <!--<button mat-raised-button #tooltip="matTooltip"-->
              <!--matTooltip="Info about the action"-->
              <!--[matTooltipPosition]="position.value"-->
              <!--matTooltipHideDelay="100000"-->
              <!--aria-label="Button that displays a tooltip that hides when scrolled out of the container"-->
              <!--class="example-button">-->
        <!--Action-->
      <!--</button>-->
    <!--</div>-->
    <app-overview-example-dialog></app-overview-example-dialog>




