
    <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Andrew, Manaenko</mat-card-title>
      <mat-card-subtitle>Angular CLI developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/skype.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-list>
        <mat-list-item>Software developer</mat-list-item>
      <mat-list-item>
        Technologies used were AngularJS, Angular 6, Java SpringBoot.
      </mat-list-item>
      <mat-list-item>
        Set up work environments on Docker software.
      </mat-list-item>
      <mat-list-item>
        Developed enterprise software products using SCRUM methodology.
      </mat-list-item>
      </mat-list>



    </mat-card-content>
    </mat-card>










