

<mat-card class="card">
  <mat-card-header>
    <mat-card-title><h2>Pet Projects</h2></mat-card-title>

  </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <h4>JavaFx + Oracle DB</h4>
        </mat-list-item>

        <mat-list-item>
          <a href="https://github.com/hideman1975/web-domino.git"><h4>JavaScript + Bootstrap</h4></a>
        </mat-list-item>

        <mat-list-item>
          <h4>PHP Laravel + MySQL</h4>
        </mat-list-item>

        <mat-list-item>
          <a href="https://github.com/hideman1975/avtosalon.git"><h4>React JS + Java Spring + MySQL</h4></a>
        </mat-list-item>


      </mat-list>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title><h2>Production Projects</h2> </mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item><h4>AngularJS + Java SpringBoot + MongoDB</h4></mat-list-item>
      <mat-list-item><h4>Angular CLI 6 + Java Spring</h4></mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
